@{
    Layout = "";
}
<div id="CommentBoxContainer">
    <form id="FormCommentBox" method="post">
        <textarea id="TxtCommentBox" class="commentTextArea"/>
        <input type="submit" value="Submit" class="submitButton"/>
    </form>
</div>
