@model DAL.Models.Post
@{
    Layout = "";
}
@Html.Partial("ModelBind")
<div id="CommentBoxContainer">
    @using (Html.BeginForm("Create", "Post"))
            {
                <textarea id="TxtCommentBox" class="commentTextArea" />
                Html.EditorFor(model => Model.PostBody, new { htmlAttributes = new { @class = "form-control" } });
                <button type = "submit" class="submitButton">Post</button>
    }

</div>
